<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <filter>
        <filter-name>SAMLFilter</filter-name>
        <filter-class>
            com.salesforce.saml.SAMLFilter
        </filter-class>
        <init-param>
            <param-name>issuer</param-name>
            <param-value>https://cmort.blitz01.blitz.salesforce.com</param-value>
        </init-param>
        <init-param>
            <param-name>idpurl</param-name>
            <param-value>https://cmort.blitz03.blitz.salesforce.com/idp/endpoint/HttpRedirect</param-value>
        </init-param>
        <init-param>
            <param-name>cert</param-name>
            <param-value>-----BEGIN CERTIFICATE-----
MIIEWDCCA0CgAwIBAgIOAThZMPecAAAAAEtWORQwDQYJKoZIhvcNAQEFBQAwdjEO
MAwGA1UEAwwFY21vcnQxGDAWBgNVBAsMDzAwREQwMDAwMDAwSmdGRzEXMBUGA1UE
CgwOU2FsZXNmb3JjZS5jb20xFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xCzAJBgNV
BAgMAkNBMQwwCgYDVQQGEwNVU0EwHhcNMTIwNzA1MjIwOTM3WhcNMTQwNzA1MjIw
OTM3WjB2MQ4wDAYDVQQDDAVjbW9ydDEYMBYGA1UECwwPMDBERDAwMDAwMDBKZ0ZH
MRcwFQYDVQQKDA5TYWxlc2ZvcmNlLmNvbTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNj
bzELMAkGA1UECAwCQ0ExDDAKBgNVBAYTA1VTQTCCASIwDQYJKoZIhvcNAQEBBQAD
ggEPADCCAQoCggEBANWAu6pygUvEyXMiqWSvnFAIdfbDzjNkJMB1jWqiVNaLyVxW
hBKYLZWWPk6nAG+oCNvCbzwQD+UlQKdAkkNgHP5A37lSNVSvk/EuUNaPoJcUJGqT
ZCrzgxmeyma8JMyJiAaskUkcDodSk06EcAchZZhpjr32NKygCCwUE9bFu3wb+yHG
bg0l/JadlMi1HWK8G77H7GGWa3tO6Ap5+WvzKdCopaX0DZ9BDYq0fdtNN5Yj6kUk
apfB2R4cUIuxQL4sZ05HKomfGSH7JM8ye8GM8KQo1wz7GXOdS5HyQ+a+fKDNWhjy
n9CzhAqfXXXwZEF5IbH60ZgOLygLALqK6V6IJXcCAwEAAaOB4zCB4DAdBgNVHQ4E
FgQUWrzReacKvs2piav+L0N/mW0N1XEwga0GA1UdIwSBpTCBooAUWrzReacKvs2p
iav+L0N/mW0N1XGheqR4MHYxDjAMBgNVBAMMBWNtb3J0MRgwFgYDVQQLDA8wMERE
MDAwMDAwMEpnRkcxFzAVBgNVBAoMDlNhbGVzZm9yY2UuY29tMRYwFAYDVQQHDA1T
YW4gRnJhbmNpc2NvMQswCQYDVQQIDAJDQTEMMAoGA1UEBhMDVVNBgg4BOFkw958A
AAAAS1Y5FDAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBBQUAA4IBAQB9NZwW
qAbHJz4Co8lyA2tUxHC290liIVSAEKUF0AOZ/JqksVnGSaQgYL7VRjnihr9ut262
Y78fFfRBhr0LGx0NzvQO3K8cEqLT2Cxo8ikDScul3KKUc46qri6e15oTwJlCrP5e
CElo9/j+vFZ1uYXnNBpkjBYQmEAGLvbxsPHBsSm5RDIIvfRlhwve3fgyFeYCIZtY
ysC+Usp1qGz++9u1BedsOyc5Eq9xUsFcjlSxUsyGVC47UY6z1Kic9fHOp5dBQLH3
Dq0fNs1H0HlttGAv1AfzenoyVq7ChKryG7Ulia0arOks0OBlMsr99MLZodq5+jh4
hlPyKg4JG26m4PIH
-----END CERTIFICATE-----
</param-value>
        </init-param>
        <init-param>
            <param-name>cert2</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>recipient</param-name>
            <param-value>https://samlsp.herokuapp.com/_saml</param-value>
        </init-param>
        <init-param>
            <param-name>audience</param-name>
            <param-value>https://samlsp.herokuapp.com/_saml</param-value>
        </init-param>
        <init-param>
            <param-name>samlendpoint</param-name>
            <param-value>/_saml</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SAMLFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
