<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <filter>
        <filter-name>SAMLFilter</filter-name>
        <filter-class>
            com.salesforce.saml.SAMLFilter
        </filter-class>
        <init-param>
            <param-name>issuer</param-name>
            <param-value>https://communities-dev-ed.my.salesforce.com</param-value>
        </init-param>
        <init-param>
            <param-name>idpurl</param-name>
            <param-value>https://communities-dev-ed.my.salesforce.com/idp/endpoint/HttpRedirect</param-value>
        </init-param>
        <init-param>
            <param-name>cert</param-name>
            <param-value>-----BEGIN CERTIFICATE-----
MIIEcjCCA1qgAwIBAgIOAUET+HSSAAAAAEGNeT8wDQYJKoZIhvcNAQEFBQAwfjEW
MBQGA1UEAwwNSWRlbnRpdHkgRGVtbzEYMBYGA1UECwwPMDBEaTAwMDAwMDBhTnBP
MRcwFQYDVQQKDA5TYWxlc2ZvcmNlLmNvbTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNj
bzELMAkGA1UECAwCQ0ExDDAKBgNVBAYTA1VTQTAeFw0xMzA5MTIyMDU5MTFaFw0x
NTA5MTIyMDU5MTFaMH4xFjAUBgNVBAMMDUlkZW50aXR5IERlbW8xGDAWBgNVBAsM
DzAwRGkwMDAwMDAwYU5wTzEXMBUGA1UECgwOU2FsZXNmb3JjZS5jb20xFjAUBgNV
BAcMDVNhbiBGcmFuY2lzY28xCzAJBgNVBAgMAkNBMQwwCgYDVQQGEwNVU0EwggEi
MA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCIXKnI6VdgN7GUeEG3FLAjZAW2
aJ1q8NhTwKhLhnzg3q5PvuSTyF868qFPeAM3G6WDZ7hL7G9dDuENG/u+ZccpZiLK
XTTcDIu00OEeejHMwVQmaDS7eiZyjGfzxQWa36zwtdJaE2Zr6Uzr8uNFCbE5Nd7Y
KSyP5Grqc5uRsagH9Py5Se2U3MLffxkKZFdAieordGTIsUVmyJCbOEt71TLdL0pi
dbrqgjgfkIr9C6frb8Qlhg7KxsPRqqcSAwCDwqbdO4vqGb+kCcgpmCb4le6SPu26
tBlD0UUN2VJBBH+uJFn4+RlUOrvxRLrCko5IjwkgPY7nhC54msVEmWbpsE2lAgMB
AAGjge0wgeowHQYDVR0OBBYEFMxjWdFALv0fWSGtW+vKE/USc2N9MIG3BgNVHSME
ga8wgayAFMxjWdFALv0fWSGtW+vKE/USc2N9oYGDpIGAMH4xFjAUBgNVBAMMDUlk
ZW50aXR5IERlbW8xGDAWBgNVBAsMDzAwRGkwMDAwMDAwYU5wTzEXMBUGA1UECgwO
U2FsZXNmb3JjZS5jb20xFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xCzAJBgNVBAgM
AkNBMQwwCgYDVQQGEwNVU0GCDgFBE/h0lQAAAABBjXk/MA8GA1UdEwEB/wQFMAMB
Af8wDQYJKoZIhvcNAQEFBQADggEBAINFVuBumLzpshNtRkBJ+E9ZWw0FoCi5KReh
xJySvq+lg2g2pf1fKc/qRgGvqhXC6jYlCO+XDnx/OiqTppk5All/uegCIpl+BLfX
QXVMH4IBrmz00DX6O/WLD1UTOIdvnF8dPAjCzqIP4GsvMlPUCi8/QQMiyWTxv79Q
7JsU2S7OJ66FNBlY8w4JWzB1j1/Mcd765703KpDZfuN7qpqjWwz12IajTkxZlOAh
IkhAkhZjRKfsCq41f45TUkFGNUvUbqHbvXmN4gFxnviN+MOi8SgJeGNxqKNBdtq1
AWeTpkCIxLQ66wmbvDN0gckSOdfCD2atwgav3wGVDq0QOyfJnpM=
-----END CERTIFICATE-----

</param-value>
        </init-param>
        <init-param>
            <param-name>cert2</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>recipient</param-name>
            <param-value>https://samlsp.herokuapp.com/_saml</param-value>
        </init-param>
        <init-param>
            <param-name>audience</param-name>
            <param-value>https://samlsp.herokuapp.com/_saml</param-value>
        </init-param>
        <init-param>
            <param-name>samlendpoint</param-name>
            <param-value>/_saml</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SAMLFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
