<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
   
    <filter>
        <filter-name>SAMLFilter</filter-name>
        <filter-class>
            com.salesforce.saml.SAMLFilter
        </filter-class>
        <init-param>
            <param-name>issuer</param-name>
            <param-value>https://customer.my.salesforce.com</param-value>
        </init-param>
        <init-param>
            <param-name>idpurl</param-name>
            <param-value>https://customer.my.salesforce.com/idp/endpoint/HttpRedirect</param-value>
        </init-param>
        <init-param>
            <param-name>cert</param-name>
            <param-value>-----BEGIN CERTIFICATE-----
MIIEnDCCA4SgAwIBAgIOAUFHxmwqAAAAABaWwxQwDQYJKoZIhvcNAQEFBQAwgYsx
IzAhBgNVBAMMGlRoZSBTaWVycmEgQ2x1YiBGb3VuZGF0aW9uMRgwFgYDVQQLDA8w
MERmMDAwMDAwMktrV0gxFzAVBgNVBAoMDlNhbGVzZm9yY2UuY29tMRYwFAYDVQQH
DA1TYW4gRnJhbmNpc2NvMQswCQYDVQQIDAJDQTEMMAoGA1UEBhMDVVNBMB4XDTEz
MDkyMjIyMjQ0OFoXDTE1MDkyMjIyMjQ0OFowgYsxIzAhBgNVBAMMGlRoZSBTaWVy
cmEgQ2x1YiBGb3VuZGF0aW9uMRgwFgYDVQQLDA8wMERmMDAwMDAwMktrV0gxFzAV
BgNVBAoMDlNhbGVzZm9yY2UuY29tMRYwFAYDVQQHDA1TYW4gRnJhbmNpc2NvMQsw
CQYDVQQIDAJDQTEMMAoGA1UEBhMDVVNBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
MIIBCgKCAQEA6Xo4bqtlwrxepzDC/3kwYxq1jz4yL876nUVAu68h7kzPD1q1NFNJ
rZ4cF5CeZLBsWp0L1/LxagL8YgOc4IPLHjfgTkQQQg1pxtYfDTfWg5Zic6kwuLLG
HwzbDmHK6wW72AtTOZrg5ISQxOpWiCeUvAPNJkL1eAMj2bnql9IB6x8V+BUPmn8t
Nu4ddpvgu7y+PCQuVnxWTMZusXqwhd7YM0xVuYaKdhnsxzvGTvL3yRCwIFSc9x+B
S+6gzUa4tW6YVUrRmJ91/1g6rijtPrgQPKAFJSlm2QwnL04XEmByX2DIITLGRMGf
XhIpsXNYquv1JJb3LZSqLUKauOtkKecASQIDAQABo4H7MIH4MB0GA1UdDgQWBBTq
kJPPpyTYe2BecNWoD+/MiWQVSDCBxQYDVR0jBIG9MIG6gBTqkJPPpyTYe2BecNWo
D+/MiWQVSKGBkaSBjjCBizEjMCEGA1UEAwwaVGhlIFNpZXJyYSBDbHViIEZvdW5k
YXRpb24xGDAWBgNVBAsMDzAwRGYwMDAwMDAyS2tXSDEXMBUGA1UECgwOU2FsZXNm
b3JjZS5jb20xFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xCzAJBgNVBAgMAkNBMQww
CgYDVQQGEwNVU0GCDgFBR8ZsLQAAAAAWlsMUMA8GA1UdEwEB/wQFMAMBAf8wDQYJ
KoZIhvcNAQEFBQADggEBALzC898H6ifi3mBOqcAUiUgUXtmsYyN04qpS7kCT/KG0
n9n154VgQf/3P+8rjWuHv7+Lnqf/dpylZDr4z79kK/1WRiqtXQNg29yS2TxXcDad
ukWDSzY2OElCAQ55MGeHZFSDKNAh07ktgrmSiEVBUJhLGCgxjNauZwLysCFbmr4o
8C48zglrPkmojtRDaCKAekNN7CDDgCMFNTAPcP5hYAr9n4hZ6YP2vqPHB2A7xyFu
/OMoImp34cITSB/Zc9JNaD2lXNQMZCgrRTy899UcVhKmsScb9AwW1LV8kvdSac7V
yOLWUm15yho7ep7WpfAAGy69nrdJqmpX1rcpdfBRVtw=
-----END CERTIFICATE-----</param-value>
        </init-param>
        <init-param>
            <param-name>cert2</param-name>
            <param-value></param-value>
        </init-param>
        <init-param>
            <param-name>recipient</param-name>
            <param-value>https://samlsp.herokuapp.com/secure/_saml</param-value>
        </init-param>
        <init-param>
            <param-name>audience</param-name>
            <param-value>https://samlsp.herokuapp.com/secure/_saml</param-value>
        </init-param>
        <init-param>
            <param-name>samlendpoint</param-name>
            <param-value>/secure/_saml</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SAMLFilter</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>

</web-app>



